<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Fitteia</title>
</head>

<body>
    <div style = "border-radius:0px ;float:left" class="navbar">
        <a class="active" href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/" style="float:right;background-color: #ECCF67" >FITTEIA 2.0</a>
    </div>
    
    <div style = "background-color: #FFFFFF;">
        <br> <br> 
        <p>THE ART OF MODEL FITTING IN PYTHON</p>
    </div>
    
    <div style = "width: 100%;float:left">
        <div style = "width: 50%;float:left">
            <img src="https://media.discordapp.net/attachments/766318506027122718/913774377332523018/caption.gif?width=495&height=468" alt="graph"  id="imgslot"/></img>
            <img src="https://media.discordapp.net/attachments/766318506027122718/913773740951744583/meme.gif" alt="graph"  id="imgslot"/></img>
            <video width="600" height = "400" controls>
                <source src="https://media.discordapp.net/attachments/766318506027122718/901619485256081459/social.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
            <img src="https://images-ext-1.discordapp.net/external/G-Mq2FqmKC5LAO-z3tCFg551sSK5Yb0XjEU-9LC3J6Q/https/media.discordapp.net/attachments/808780227303833600/901277379161374720/5rho2i.jpg" alt="graph"  id="imgslot"/></img>
        </div>
        <div style = "width: 50%;float:right">
            <img src="https://cdn.discordapp.com/attachments/766313808351330307/933319924988923904/caption.gif" alt="graph"  id="imgslot"/></img>
            <img src="https://media.discordapp.net/attachments/808780227303833600/895626973504749629/caption.gif" alt="graph"  id="imgslot"/></img>
        </div>
    </div>

</body>

</html> 