<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Importar a fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <!-- Importar o ficheiro .css-->
    <link rel="stylesheet" href="/static/style.css">
    <title>Fitteia 2.0</title>
</head>

<body>
    <div style = "border-radius:0px ;float:left" class="navbar">
        <a class="active" href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/" style="float:right;background-color: #ECCF67">FITTEIA 2.0</a>
    </div>

    <div style = "background-color: #FFFFFF;">
        <br> <br> <br>
    </div>

    <form method="POST" action="/plot" enctype="multipart/form-data" >  
        <div style="width: 45%; float:right">
            <!-- right content in here -->  
            <div style="width: 90%; float:right">
                <p>DATA</p>
                <textarea name="data" style="width: 90%;height: 300px;">0.71   0.806   0.2   0.3&#10;1.51  -0.702   0.2   0.3&#10;2.31  -1.395   0.2   0.3&#10;3.11  -0.608   0.2   0.3&#10;3.91   0.889   0.2   0.3&#10;4.71   1.371   0.2   0.3&#10;5.51   0.391   0.2   0.3&#10;6.31  -1.051   0.2   0.3&#10;7.11  -1.314   0.2   0.3&#10;7.91  -0.162   0.2   0.3&#10;8.71   1.183   0.2   0.3&#10;9.51   1.225   0.2   0.3&#10;</textarea>
                <p>FIT DATA FROM FILE {.txt, .csv}</p>
                <p><input type="file" name="file"></p>
            </div>
        </div>

        <div style="width: 50%; float:left">
            <!-- left content in here -->
            <div style="width: 7%; float:left">
            </div>
            <div style="width: 93%; float:right">
                <br>
                <input type="radio" name="FitorInterpolate" value="Fit">
                <label> FIT</label>
                <input type="radio" name="FitorInterpolate" value="Interpolate">
                <label> INTERPOLATE</label>
                <input type="radio" name="FitorInterpolate" value="Plot">
                <label> PLOT DATA POINTS</label><br><br>
                <input type="radio" name="FileorText" value="Input">
                <label> DATA IN TEXTAREA</label>
                <input type="radio" name="FileorText" value="File">
                <label> DATA FILE</label><br><br>
                <div style="width: 10%; float:left">
                    <label>FUNCTION</label>
                    <br>
                </div>
                <div style="width: 85%; float:right">
                    <textarea name="function" style="width: 90%;height: 20px;">a*sin(b*x + c)</textarea>
                    <br>
                </div>
                <label>PARAMETERS</label><br>
                <div style="width: 30%; float:left">
                    <textarea name="param1" style="width: 90%;height: 20px;">a</textarea>
                </div>
                <div style="width: 60%; float:left">
                    <label>Initial Guess</label>
                    <textarea name="value1" style="width: 30%;height: 20px;">1</textarea>
                    <br>
                </div>
                <div style="width: 30%; float:left">
                    <textarea name="param2" style="width: 90%;height: 20px;">b</textarea>
                </div>
                <div style="width: 60%; float:left">
                    <label>Initial Guess</label>
                    <textarea name="value2" style="width: 30%;height: 20px;">1</textarea>
                    <br>
                </div>
                <div style="width: 30%; float:left">
                    <textarea name="param3" style="width: 90%;height: 20px;">c</textarea>
                </div>
                <div style="width: 60%; float:left">
                    <label>Initial Guess</label>
                    <textarea name="value3" style="width: 30%;height: 20px;">1</textarea>
                    <br>
                </div>
                <br>
                <div style="width: 90%; float:left">
                    <label>Titles (written in Latex)</label><br>
                    <textarea name="Title" style="width: 30%;height: 20px;">Rigid Pendulum</textarea>
                    <label>Title</label>
                    <br>
                    <textarea name="X-Axis" style="width: 30%;height: 20px;">time $[s]$</textarea>
                    <label>X Axis Label</label>
                    <br>
                    <textarea name="Y-Axis" style="width: 30%;height: 20px;">position $[\theta]$</textarea>
                    <label>Y Axis Label</label>
                    <br>
                    <input type = "checkbox" name = "errbar" value = "Yes">
                    <label> Error Bars</label>
                    <br>
                    <input type="submit" value="Make Plot">
                </div>
            </div>
        </div>
    </form>

</body> 

</html>