<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Fitteia</title>
</head>

<body>
    <h1>Fitteia 2.0</h1>
    <p>The art of model fitting in python</p>
    <form method="POST" action="/plot_excel" enctype="multipart/form-data">
        <p>Fittar Dados a partir de ficheiro csv</p>
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Submeter Ficheiro"></p>
    </form>
    <form method="POST" action="/plot_data" >
        <p>Fittar Dados</p>
        <input name="data">
        <input type="submit" value="Submeter Dados">
    </form>
</body>

</html>