<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Fitteia</title>
</head>

<body>
    <div style = "border-radius:0px ;float:left" class="navbar">
        <a class="active" href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/" style="float:right;background-color: #ECCF67" >FITTEIA 2.0</a>
    </div>

    <div style = "background-color: #FFFFFF;">
        <br> <br> <br>
    </div>

    <div style="background-color:#FFFFFF; width :40%; float:left" > 
        <img src="data:image/jpeg;base64,{{ graph }}" alt="graph"  id="imgslot"/></img>
    </div>
    
    <div style="width: 55%; float:right" >
        {%if(num_pars > 0)%}  
            <p>Parâmetros Livres: </p>
            {%for i in range (0, num_pars)%}
                <p style = "color: #CB2D6F !important; margin : 2; padding-top : 2">
                    a[{{i}}] = {{freepars[i]}}&ensp;&ensp;
                </p>
            {% endfor %}
        {% endif %}

        <p>Dados Inseridos</p>
        {% for i in range(0,size) %}
            <p style="margin : 0; padding-top:0;">
                {% for j in range(0,4) %}
                    {{content[j+num_cols*i]}}&ensp;&ensp;
                {% endfor%}
            </p>
        {% endfor %}
    </div>
        
</body>

</html> 