body {
    background-color: #0F292F;
    font-family: 'Roboto', sans-serif;
}
  
h1 {
    background-color: #14A098;
    color: #FEFFFF;
    margin-left: 0px;
    padding: 20px;
    font-size: 40px;
    font-weight: 900;
}

p {
    background-color: #0F292F;
    color: #CCCCCC;
}

button{
    background-color: #CB2D6F;
    color:#CCCCCC;
    font-size: medium;
}

input{
    background-color: #CB2D6F;
    color:#CCCCCC;
    font-size: medium;
}

textarea{
    color: #0F292F;
}

br{
    background-color: #CB2D6F;
    color:#CCCCCC;
    font-size: medium;}